<div class="row form-group">
  <div class="col-md-3">
    <button class="btn btn-primary form-control" (click)="toggleForm()">
      {{ showForm ? 'Cancel Add Todo' : 'Add Todo' }}
    </button>
  </div>
</div>

<div class="row" *ngIf="!showForm">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Text</th>
        <th class="text-center">-</th>
      </tr>
      <tr *ngFor="let todo of todos; let index = index" app-todo [todo]="todo" [index]="index" (deleteEventEmit)="handleDelete($event)">
      </tr>
    </table>
  </div>
</div>

<app-todo-form *ngIf="showForm" (formSubmitEvent)="handleFormSubmitted($event)" (formWasSubmittedEvent)="handleFormWasSubmitted($event)"></app-todo-form>
