<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular 5 Playground</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/todos">Todos</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/posts">Posts</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container margin-top-50">
  <router-outlet></router-outlet>
</div>
