<div class="row form-group">
  <div class="col-md-3">
    <button type="button" class="btn btn-primary form-control" (click)="showPostForm()">
      <span *ngIf="!showForm">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add New Post
      </span>
      <span *ngIf="showForm">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancel Add Post
      </span>
    </button>
  </div>
</div>

<div class="row" *ngIf="!showForm">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Title</th>
        <th class="text-center">Link</th>
        <th class="text-center">Votes </th>
      </tr>
      <tr *ngFor="let post of posts; let index = index" app-post [post]="post" [index]="index"></tr>
    </table>
  </div>
</div>

<app-post-form *ngIf="showForm" (formWasSubmitted)="formWasSubmitted($event)" (createNewPost)="onFormSubmit($event)"></app-post-form>
