<td class="text-center">
  {{ index + 1 }}
</td>

<td class="text-center">
  <a [routerLink]="['/posts', post._id]">{{ post.title }}</a>
</td>

<td class="text-center">
  {{ post.link }}
</td>

<td class="text-center">
  {{ post.votes }}
</td>

<td class="text-center">
  <i class="fa fa-trash-o action-icons action-icons-delete" (click)="handleDelete(post._id)" aria-hidden="true"></i>
  <a [routerLink]="['/posts/edit/', post._id]">
    <i class="fa fa-pencil-square-o action-icons action-icons-edit" aria-hidden="true"></i>
  </a>
</td>
